header {
    background:$header-background;
    color:$header-color;
    position:fixed;
    width:100%;
    z-index: 50;
    padding-bottom:20px;
    font-size: 18px;
    a {
        color:$header-color;
        text-decoration:none;
        position:relative;
        transition:all 0.5s;
        &:hover {
            color:tint($header-background, 60%);
        }
    }
    ul {
        margin:0;
        padding:0;
    }
    li {
        display:inline-block;
    }
    .inner {
        width:100%;
        display:table;
    }
}

.fixed-header {
    padding-bottom:0;
    &:after {
        display:none;
    }
    + main .banner {
        //opacity:0.2;
    }
}

.logo,
.nav,
.social {
    display:table-cell;
    width:20%;
    vertical-align:middle;
}

.logo {
    text-align:left;
    a {
        font-size:28px;
        &:hover {
            color:tint($header-background, 40%);
        }
        strong {
            font-family:$f-bold; 
        }
    }
}

.nav {
    width:60%;
    text-align:center;
    a {
        padding:25px;
        display:block;
        &:after {
            content:"";
            display:block;
            position:absolute;
            bottom:0;
            left:0;
            width:100%;
            background:$header-background;
            height:4px;
            transition:all 0.5s;
        }
        &:hover {
            &:after {
                background:tint($header-background, 40%);
            }
        }
    }
    .active a {
        &:after {
            background:$header-color;
        }
    } 
}

.social {
    text-align:right;
    a {
        font-size:0;
        margin: 0 6px;
        &:after {
            padding:0.5em;
            line-height:1;
            border:1px solid $header-color;
            border-radius:50%;
            transition:all 0.5s;
            font-size:14px;
        }
        &:hover:after {
            border-color:tint($header-background, 40%);
            color:tint($header-background, 40%);
            
        }
    }
    .social-twitter {
        a:after {
            @include icon('\e900');
        }
    }
    .social-github {
        a:after {
            @include icon('\e901');
        }
    }
    .social-linkedin {
        a:after {
            @include icon('\e903');
        }
    }
}


@media #{$NotMobile} {
    .logo,
    .social {
        transform: translate(0, -55px);
        transition: all 1s;
        opacity:0;
        .fixed-header & {
            transform: translate(0, 0);
            opacity:1;
        }
    }    
}

@media #{$Tablet} {
    header {
        font-size:14px;
    }
    .logo,
    .social {
        width:16%;
    }
    .nav a {
        font-size:16px;
        padding: 25px 12px;
    }
    
}

@media #{$Mobile} {
    header,
    .fixed-header {
        padding:10px 0;
    }
    header {
        &:after {
            top:63px;
            height:15vh;
        }
    }
    .nav {
        display:none; 
    }
    .logo,
    .social {
        width:auto;
    }
    .social {
        a {
            margin: 0 4px;
        }
    }
}