.banner {
    background:$header-background;
    color:$white;
    transition:all 1s;
    .banner-background {
        height:500px;
        height:100vh;
    }
    .banner-content {
        font-size:20px;
        padding:20px;
    }
}


.thumb-bg {
  position:relative;
  height:200px;
  width:100%;
  display:table;
  background:#dfdfdf;
  .thumb-inner {
    vertical-align: middle;
    text-align: center;
    display: table-cell;
  }
  img {
    display:inline-block;
    margin-bottom:25px;
  }
}

.section-title {
  line-height: 1;
  font-size:26px;
  text-align: center;
  font-family: $f-bold;
  color:#8283A2;
  span {
    display:inline-block;
    padding:0 20px;
  }
  & + .section-small {
    margin-top:-14px;
    margin-bottom: 21px;
  }
}

.section-small {
  font-size:16px;
  font-family:$f-regular;
  color:$gray;
  line-height: 1.35;
  max-width:520px;
  margin:0 auto;
}

.container {  
  text-align:center;
  .section-title:first-child {
    margin-top:0;
    margin-bottom:30px;
  }
  .row {
    text-align:left;
  }
}

.me {
    text-align: center;
  .img-wrapper {
    position:relative;
    display:inline-block;
    border-radius:50%;
    overflow:hidden;
    border: 20px solid #fff;
    margin-top:10%;
    transition: all 1s;
  }
  a {
      display:block;
  }
  img {
    margin:0 auto;
    display: block;
    max-width:100%;
  }
}

.circle {
    width:100%;
    padding-top:100%;
    border-radius:50%;
    background:#F5873D;
    //background:#918F9A;
    display: block;
    margin: 37% 0 24%;
}

.circle-outer {
    margin: 57% 10% 24%;
    width:80%;
    padding-top:80%;
    background:#FFA568;
    background:#BEBCC7;
}

@media screen and (min-width:1200px) {
}


@media screen and (max-width:767px) {
  h1 {
    font-size:30px;
  }
  h1 small {
    display: block;
    margin-top:0.5em;
  }
  h1 small small {
    display:none;
  }
  .me {
    max-width: 260px;
    margin: 0 auto;
  }
      

}