// import gridle
@import "gridle/gridle";

// setting up the grid
@include gridle_setup( (
	context : 16,
	gutter-width : $gutter-width,
	direction:ltr
	// etc...
) );

%col-2 {
    @include gridle_grid(2);
}

%col-3 {
    @include gridle_grid(3);
}

%col-4 {
    @include gridle_grid(4);
}

%col-16 {
    @include gridle_grid(16); 
}